@charset 'UTF-8'

.signup
  color: #ffffff
  &-line
    margin: 20px 0
  &-input
    background: #fff
    width: 100%
    padding: 10px
    margin: 5px 0px
    font-size: 18px
    border-radius: 5px
    border: none
    border: 0.5px solid #fff
    color: #333
    outline: none
    &__photo
      border: 2px dashed #fff
      width: 100%
      padding: 30px
  &-btn
    display: inline-block
    border: none
    outline: none
    border-radius: 15px
    background: #0f121b
    color: #ffffff
    padding: 15px 40px
    margin: 10px 0 40px 0
      font-weight: bold
    &:hover
      opacity: .8
