@charset 'UTF-8'

body
  font-family: 'Roboto'
  background: #fff
  overflow-x: hidden !important

a, a:focus, a:hover, a:active, button, button:hover
  outline: 0 !important

a:focus
  text-decoration: none


.wrapper
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%)
  width: 100%
  height: 100vh
