@charset 'UTF-8'

body
  font-family: 'Roboto'
  background: #fff
  overflow-x: hidden !important
  background-color: #12b2f1cc

a, a:focus, a:hover, a:active, button, button:hover
  outline: 0 !important

a:focus
  text-decoration: none


// .wrapper
//   width: 100%
//   height: 100vh
