@charset 'UTF-8'

body
  font-family: 'OpenSans'
  background: #fff
  color: #333
  overflow-x:hidden !important

a, a:focus, a:hover, a:active, button, button:hover
  outline: 0 !important
a:focus
  text-decoration: none

